* {
  margin: 0%;
}

.container {
  background-color: rgb(92 178 84);
}

.img1 {
  width: 100vw;
  height: 100vh;
}

.img {
  display: none;
}

.pagination {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}


@media only screen and (max-width: 500px) {
  .img1 {
    display: none;
  }

  .img {
    display: block;
    width: 100vw;
    height: 97vh;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
  }

}